{% extends 'base.html'%}
  {% load static %}
    {% block link %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}?{% now 'U' %}">
    {% endblock %}
  {% block content %}
  {% csrf_token %}
      {% if user.is_authenticated %}
      <h3>Hello: {{user.username}}</h3>
      {% else %}
      <div class="text-box">
        <h1 id="app-quotes">PRECISED FITNESS & NUTRITION FOR YOU.</h1>
        <p>Providing you appropriate workout programs <br>and dietary meal plans depending on your body type.</p>
        <a href="{% url 'signup' %}" class="SignUpbtn">Sign up and let's get started!</a>
      </div>
  {% endif %}
  {% endblock %}
